<!DOCTYPE html>
<html lang="en">
<head>
<title>Control De Laboratorio</title><meta http-equiv="content-type" content="text/html;charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="e-commerce site well design with responsive view." />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../static/https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="../static/css/stylesheet.css" rel="stylesheet">
<link href="../static/css/responsive.css" rel="stylesheet">
<link href="../static/owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet" media="screen" />
<link href="../static/owl-carousel/owl.transitions.css" type="text/css" rel="stylesheet" media="screen" />

<script src="javascript/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="../static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="javascript/jstree.min.js"></script>
<script type="text/javascript" src="javascript/template.js"></script>
<script src="javascript/common.js" type="text/javascript"></script>
<script src="javascript/global.js" type="text/javascript"></script>
<script src="owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
</head>
<body class="account-login col-2">
<div class="preloader loader" style="display: block; background:#f2f2f2;"> <img src="image/loader.gif"  alt="#"/></div>
<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="top-left pull-left">
            <div class="language">
              <form action="#" method="post" enctype="multipart/form-data" id="language">
                <div class="btn-group">
                  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img src="image/flags/gb.png" alt="English" title="English">English <i class="fa fa-caret-down"></i></button>
                  <ul class="dropdown-menu">
                    <li><a href="#"><img src="image/flags/lb.png" alt="spa" title="spa"> Espanol</a></li>
                    <li><a href="#"><img src="image/flags/gb.png" alt="English" title="English"> English</a></li>
                  </ul>
                </div>
              </form>
            </div>
            <div class="currency">
              <form action="#" method="post" enctype="multipart/form-data" id="currency">
                <div class="btn-group">

                </div>
              </form>
            </div>
          </div>
          <div class="top-right pull-right">
            <div id="top-links" class="nav pull-right">
              <ul class="list-inline">
                <li class="dropdown account"><a href="#" title="Usuario" class="  dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i><span>Usuario</span> <span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="register.html">Registrar</a></li>
                    <li><a href="login.html">Iniciar Sesion</a></li>
                  </ul>
                </li>
                </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header-inner">
      <div class="col-sm-4 col-xs-6 header-left">

      </div>
      <div class="col-sm-4 col-xs-12 header-middle">
        <div class="header-middle-top">
          <div id="logo"> <img src="image/logo.png" title="Logo" alt="E-Commerce" class="img-responsive" /> </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 header-right">
        <div id="cart" class="btn-group btn-block">
              <ul class="dropdown-menu pull-right cart-dropdown-menu">
            <li>
              <table class="table table-striped">
                <tbody>

                </tbody>
              </table>
            </li>
            <li>
              <div>
                <table class="table table-bordered">
                  <tbody>

                  </tbody>
                </table>
                <p class="text-right"> <span class="btn-viewcart"><a href="cart.html"><strong><i class="fa fa-shopping-cart"></i> View Cart</strong></a></span> <span class="btn-checkout"><a href="checkout.html"><strong><i class="fa fa-share"></i> Checkout</strong></a></span> </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <nav id="menu" class="navbar">
      <div class="nav-inner">


      </div>
    </nav>
  </div>
</header>
<div class="container">
  <ul class="breadcrumb">
    <li><a href="index.html"><i class="fa fa-home"></i></a></li>
    <li><a href="#">Mi Cuenta</a></li>
    <li><a href="login.html">Inicio de Sesion</a></li>
  </ul>
  <div class="row">

    <div class="col-sm-9" id="content">
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <h2>Nuevo Usuario</h2>
            <p><strong>Registrar usuario</strong></p>

            <a class="btn btn-primary" href="register.html">Continuar</a></div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h2>Iniciar Sesion</h2>
            <p><strong></strong></p>
            <form enctype="multipart/form-data" method="post" action="login.html">
              <div class="form-group">
                <label for="input-email" class="control-label">Usuario</label>
                <input type="text" class="form-control" id="input-email" placeholder="Matricula o Nuemero de empleado" value="" >
              </div>
              <div class="form-group">
                <label for="input-password" class="control-label">Contraseña</label>
                <input type="password" class="form-control" id="input-password" placeholder="Password" value="" name="Contraseña">
                <a href="forgetpassword.html"></a></div>
              <input type="submit" class="btn btn-primary" value="Iniciar Sesion">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
  <hr>

  </div>
  <a id="scrollup">Scroll</a> </footer>
<div class="footer-bottom">
  <div class="container">

    <div class="footer-bottom-cms">
      <div class="footer-payment">

      </div>
    </div>
  </div>
</div>

</body>
</html>
