<!DOCTYPE html>

<html lang="en">
<head>
<title>Control de Laboratorio</title><meta http-equiv="content-type" content="text/html;charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="e-commerce site well design with responsive view." />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="../static/css/stylesheet.css" rel="stylesheet">
<link href="../static/css/responsive.css" rel="stylesheet">
<link href="../static/owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet" media="screen" />
<link href="../static/owl-carousel/owl.transitions.css" type="text/css" rel="stylesheet" media="screen" />

<script src="javascript/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="../static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="javascript/jstree.min.js"></script>
<script type="text/javascript" src="javascript/template.js"></script>
<script src="javascript/common.js" type="text/javascript"></script>
<script src="javascript/global.js" type="text/javascript"></script>
<script src="owl-carousel/owl.carousel.min.js" type="text/javascript"></script>

</head>
<body class="account-register col-2">
<div class="preloader loader" style="display: block; background:#f2f2f2;"> <img src="image/loader.gif"  alt="#"/></div>
<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="top-left pull-left">
            <div class="language">
              <form action="#" method="post" enctype="multipart/form-data" id="language">
                <div class="btn-group">
                  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img src="image/flags/gb.png" alt="English" title="English">English <i class="fa fa-caret-down"></i></button>
                  <ul class="dropdown-menu">
                    <li><a href="#"><img src="image/flags/lb.png" alt="Arabic" title="Arabic"> Arabic</a></li>
                    <li><a href="#"><img src="image/flags/gb.png" alt="English" title="English"> English</a></li>
                  </ul>
                </div>
              </form>
            </div>
            <div class="currency">
              <form action="#" method="post" enctype="multipart/form-data" id="currency">
                <div class="btn-group">


                </div>
              </form>
            </div>
          </div>
          <div class="top-right pull-right">
            <div id="top-links" class="nav pull-right">

                </li>

              </ul>
              <div class="search-box">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header-inner">


      <div class="col-sm-4 col-xs-12 header-right">
        <div id="cart" class="btn-group btn-block">

          <ul class="dropdown-menu pull-right cart-dropdown-menu">
            <li>
              <table class="table table-striped">
                <tbody>
                  <tr>

                  </tr>
                </tbody>
              </table>
            </li>
            <li>
              <div>
                <table class="table table-bordered">
                  <tbody>

                  </tbody>
                </table>
                 </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <nav id="menu" class="navbar">
      <div class="nav-inner">
         </div>

      </div>
    </nav>
  </div>
</header>
<div class="container">
    <ul class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Mi Cuenta</a></li>
        <li><a href="register.html">Register</a></li>
    </ul>
    <div class="row">
        <div class="col-sm-3 hidden-xs column-left" id="column-left">
            <div class="column-block">

                <div class="account-block">
                     </div>
            </div>
        </div>
        <div class="col-sm-9" id="content">
            <h1>Registro Usuario</h1>

            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="register.html">
                <fieldset id="account">
                    <legend>Datos Personales</legend>
                    <div style="display: none;" class="form-group required">
                        <label class="col-sm-2 control-label">Customer Group</label>
                        <div class="col-sm-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" checked="checked" value="1" name="customer_group_id">
                                    Default</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="input-firstname" class="col-sm-2 control-label">Nombre (s) </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-firstname" placeholder="Nombre" value="" name="firstname">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="input-lastname" class="col-sm-2 control-label">Apellidos</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-lastname" placeholder="Apellidos" value="" name="lastname">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="input-email" class="col-sm-2 control-label">ID Usuario</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="input-email" placeholder="Matricula o Numero De Empleado" value="" >
                        </div>
                    </div>
                    <br><br>

                </fieldset>
                <fieldset id="address">

                    <legend>Datos De Usuario</legend>
                    <div class="form-group required">
                        <label for="input-country" class="col-sm-2 control-label">Tipo De Usuario</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="input-country" name="country_id">
                                <option value=""> --- Seleccione --- </option>
                                <option value="1">Maestro</option>
                                <option value="2">Alumno</option>
                            </select>
                        </div>
                    </div>

                    <br><br>
                </fieldset>
                <fieldset>
                    <legend>Contraseña</legend>
                    <div class="form-group required">
                        <label for="input-password" class="col-sm-2 control-label">Contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="input-password" placeholder="Contraseña" value="" name="password">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="input-confirm" class="col-sm-2 control-label">Contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="input-confirm" placeholder="Confirmar Contraseña" value="" name="confirm">
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Permisos</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Administrador</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" value="true" name="newsletter">
                                Si</label>
                            <label class="radio-inline">
                                <input type="radio" checked="checked" value="false" name="newsletter">
                                No</label>
                        </div>
                    </div>
                </fieldset>
                <div class="buttons">
                    <div class="pull-right"><a class="agree" href="#"><b></b></a>

                        &nbsp;
                        <input type="submit" class="btn btn-primary" value="Continue">
                    </div>

                    <div class="pull-right"><a class="salir" href="login.html"><b></b></a>
                        <a class="btn btn-primary" href="login.html">Cancelar</a>

                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<footer>
  <div class="container">

    <div class="row">

    </div>    
  </div>
  <a id="scrollup">Scroll</a> </footer>
<div class="footer-bottom">
  <div class="container">
    <div class="copyright"> &nbsp;<a class="yourstore" href="http://www.lionode.com/"> </a> </div>

  </div>
</div></body>
</html>
